.page-item {
  display: none;
}

#pageDropDown {
  display: none;
}
.visibility:hover {
  .eye {
    color: white !important;
  }
}

// .noBorderOnClick  {
//     th:focus{      
//         outline: none !important;        
//     }
    
//     td:focus{      
//         outline: none !important;        
//     }
// }
